certifi
cffi
configparser
defusedxml
imutils
matplotlib
mkl-fft
mkl-random
mkl-service
olefile
pandas
pip-chill
pyautogui
pylint
scikit-learn
torchvision
tornado
wincertstore
opencv-python
python-xlib
opencv-python-headless
mouseinfo
socket
