certifi
cffi
configparser
defusedxml
imutils
matplotlib
olefile
pandas
pip-chill
pyautogui
pylint
scikit-learn
torchvision
tornado
wincertstore
opencv-python
python-xlib
opencv-python-headless
mouseinfo
socket
